<h1>Ma liste</h1>

<h2> Nom : <%= @list.name %> </h2>

<%= link_to "Nouveau marque-page", new_list_bookmark_path(@list)%>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
  <li> <%= bookmark.comment %> </li>
  <%= link_to "Delete",
  bookmark_path(bookmark),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
  <% end %>

</ul>



<%= link_to "back", lists_path %>
